<a href="https://colab.research.google.com/github/carlosdev-ia/pia_curso2526/blob/main/iabd_ut01_nb1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables y tipos de datos simples

## Ejercicio 1

Asigna un mensaje a una variable e imprímelo por pantalla.

In [3]:
saludo = "Hola Mundo"
print(saludo)

Hola Mundo

## Ejercicio 2

Asigna a una variable tu nombre y a otra tus dos apellidos. A continuación, haciendo uso de *cadenas f*, muestra por pantalla el texto **apellidos, texto** (sustituyendo **apellidos** y **nombre** por los valores correctos).

In [2]:
nombre = "Carlos Andres"
apellidos = "Aguilar Caña"

print(f"{apellidos}, {nombre}")

Aguilar Caña, Carlos Andres

# Entrada del usuario

## Ejercicio 3

Solicita por teclado al usuario dos números reales, calcula su suma y muestra por pantalla el resultado en la forma **x + y = s** (donde **x** e **y** son los valores introducidos, y **s** el resultado de la suma).

In [16]:
input_x = input("Introduce un valor real para x: ")
input_y = input("Introduce un valor real para y: ")
print(f"{input_x} + {input_y} = {float(input_x) + float(input_y)}")

Introduce el valor de x: 5.69
Introduce el valor de y: 9.36
5.69 + 9.36 = 15.05

## Ejercicio 4

Solicita al usuario su nombre y sus dos apellidos, almacenando los valores en variables separadas. A continuación, muestra el mensaje **Apellido1 Apellido2, Nombre** (donde **Apellido1**, **Apellido2** y **Nombre** son los valores introducidos). La idea es que sólo la primera letra esté en maýuscula, ignorando cómo ha escrito el usuario sus datos. Por ejemplo, si el usuario introdujera **SaNtana** como primer apellido, **PÉREZ** como segundo y **JoSÉ Antonio** como nombre, el resultado sería **Santana Pérez, José Antonio**. Para conseguir el resultado, debes hacer uso del método *title()* que ofrece el tipo String.

In [17]:
nombre = input("Introduce tu nombre: ")
apellido1 = input("Introduce tu primer apellido: ")
apellido2 = input("Introduce tu segundo apellido: ")
print(f"{apellido1.title()} {apellido2.title()}, {nombre.title()}")

Introduce tu nombre: sdfsd
Introduce tu primer apellido: fddaf
Introduce tu segundo apellido: adfa
Fddaf Adfa, Sdfsd

## Ejercicio 5

Solicita al usuario su nombre de pila y su altura, almacenando los valores en variables separadas. En la primera almacenarás una cadena de caracteres (o string) y en la segunda un valor real (o float). A continuación, muestra el mensaje de la forma **Juan, tu altura es 1.70 m**, donde **Juan** en este caso es el nombre que ha introducido el usuario y **1.70** la altura. Fíjate en el formato de la altura, con dos decimales. Haz uso de *cadenas f* y del método *format()* que ofrece el tipo String.

In [20]:
nombre = input("Introduce tu nombre: ").title()
altura = input("Introduce tu altura: ")
altura = float(altura)
mensaje = "{}, tu altura es {:.2f} m.".format(nombre, altura)
print(mensaje)

Introduce tu nombre: cedcadaSAFDSsa
Introduce tu altura: 15
Cedcadasafdssa, tu altura es 15.00 m.

# Sentencias If

## Ejercicio 6

Solicita por teclado al usuario su edad y muéstrale un mensaje indicándole si podría o no votar en unas hipotéticas elecciones generales a celebrar en el día de hoy.

In [ ]:
edad = input("Introduce tu edad: ")
edad = int(edad)
if edad >= 18:
    print("Puedes votar")
else:
    print("No puedes votar")

## Ejercicio 7

Solicita dos números enteros al usuario e indica si el primero que introdujo es mayor, menor o igual al segundo.

In [ ]:
num1 = input("Introduce un número entero: ")
num2 = input("Introduce otro número entero: ")
if num1 > num2:
    print(f"{num1} es mayor que {num2}")
elif num1 < num2:
    print(f"{num1} es menor que {num2}")
else:
    print(f"{num1} es igual a {num2}")

## Ejercicio 8

Solicita al usuario la calificación (como número real, con decimales) que ha obtenido en un examen. Si es menor que 5, muestra por pantalla **Suspenso**; si está entre 5 y 7 (sin incluir a éste) muestra por pantalla **Bien**; si la calificación está entre 7 y 9 (sin incluir a éste) muestra **Notable**; y si la calificación está entre 9 y 10 muestra **Sobresaliente**.

In [27]:
clasificacion = input("Introduce tu calificación: ")
clasificacion = float(clasificacion)
if clasificacion < 5:
    print("Suspenso")
elif clasificacion < 7:
    print("Bien")
elif clasificacion < 9:
    print("Notable")
else:
    print("Sobresaliente")

Introduce tu calificación: 5
Bien

# Bucles

## Ejercicio 9

Haciendo uso del bucle **while**, muestra por pantalla los números del 12 al 24, ambos inclusive.

In [29]:
n= 12
while n <= 24:
    print(n)
    n += 1

12
13
14
15
16
17
18
19
20
21
22
23
24

## Ejercicio 10

Haciendo uso del bucle **for**, muestra por pantalla los números pares situados entre el 12 y el 24, ambos inclusive.

In [33]:
for i in range(12, 25, 2):
  print(i)
print("\n")
for i in range(12, 25):
  if i % 2 == 0:
    print(i)

12
14
16
18
20
22
24


12
14
16
18
20
22
24