<a href="https://colab.research.google.com/github/carlosdev-ia/pia_curso2526/blob/Pruebas/Notebook_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libreria Pandas - Query()

## Ejercicio 1
Teniendo el siguiente dataframe, realiza las siguientes tareas utilizando qyery():
1. Filtra las personas mayores de 30 años con salario superior a 3000€
2. Filtra con lista **in**, los empleados menores de 30 que viven en Madrid o Bilbao
3. Usa una variable externa y filtra los que trabajen en Sevilla y cobren igual o más de 3000€
4. Filtra personas jóvenes (menores de 25) o con salario alto (mayor a 3500€):
5. Muestra el número de empleados de Madrid con salario mayor a 2500€

In [ ]:
import pandas as pd

data = {
    "nombre": ["Ana", "Luis", "Carlos", "Marta", "Sofía", "Pedro"],
    "edad": [23, 35, 19, 42, 28, 31],
    "ciudad": ["Madrid", "Sevilla", "Madrid", "Bilbao", "Madrid", "Sevilla"],
    "salario": [2500, 3200, 1800, 4000, 2900, 3100]
}

df = pd.DataFrame(data)

# 1. Mayores de 30 y salario > 3000€
df.query("edad > 30 and salario > 3000")

# 2. Menores de 30 que viven en Madrid o Bilbao
df.query("edad < 30 and ciudad in ['Madrid', 'Bilbao']")

# 3. Variable externa: en Sevilla con salario ≥ 3000€
ciudad_ext = 'Sevilla'
df.query("ciudad == @ciudad_ext and salario >= 3000")

# 4. Jóvenes (<25) o salario alto (>3500)
df.query("edad < 25 or salario > 3500")

# 5. Número de empleados de Madrid con salario > 2500€
df.query("ciudad == 'Madrid' and salario > 2500").shape[0]